@import './index';
@import './components/header';

// Pages
@import './portfolios';
@import './blogs';
@import './about';
@import './portfolio-detail';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding: 150px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.absolute {
  position: absolute;
}

.avatar-box {
  img {
    height: 50px;
    border-radius: 50%;
  }

  .subtitle {
    font-size: 14px;
  }
}
